 <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">YB BLOG</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
            <li class="active"><a href="/about">Hakkımızda </a></li>
            <li class="active"><a href="/articles">Makaleler </a></li>
            
            
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if session["logged_in"] %}
              <li class="active"><a href="/dashboard">Kontrol Paneli </a></li>
              <li class="active"><a href="/logout">Cıkıs Yap </a></li>
              
            {% else %}
              <li class="active"><a href="/login">Giris</a></li>

            {% endif %}
            <li class="active"><a href="/register">Kayit Olun</a></li>
            
            
            
            
            
          </ul>
            
      
        </div><!--/.nav-collapse -->
      </div>
    </nav>